<!DOCTYPE html>
<html>
<head>
<title>Appointment Booking</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Online Appointment Booking</h1>

<a href="/book">Book Appointment</a>
<br><br>
<a href="/appointments">View Appointments</a>

</body>
</html>